
#footerContainer{
    position: bottom;
    float: bottom;
    height: 200px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Luckiest Guy', 'cursive';
    font-size: x-large;
    color: aqua;
    -webkit-text-stroke: 1px black;
    justify-content: space-between;
}
