#avatarsContainer {

    background: rgba(0, 0, 0, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #E28025;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 99vw;
    height: 70vh;
    padding: 20px;
    margin-top: 10px;
    margin-left: 2px;

    img {
        height: 80%;
    }

    .avatarItem {
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}