#avatarsContainer {

    background: rgba(0, 0, 0, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #E28025;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 99vw;
    height: 70vh;
    padding: 20px;
    margin-top: 10px;
    margin-left: 2px;

    img {
        height: 80%;
    }

    .avatarItem {
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: background-color 0.5s ease;
        
        h3 {
            font-family: Jolly Lodger;
            font-size: 20px;
        }
    }

    .hidden {
        display: none;
    }

}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.popup::before {
    content: '\00D7'; 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup.visible {
    display: block;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    #avatarsContainer {
        width: 90%;
        height: 80vh;
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        margin-left: 10%;
    
        img {
            height: 90%;
        }
    
        .avatarItem {
            width: 18%;
            height: 18%;
           
            h3 {
                font-size: 30px;
            }
        }
    }
    
    .popup {
        padding: 30px;
        font-size: 25px;
    }
   }
    
        
    
