
#buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    img {
        width: 40%;
        height: 40%;
    }

    h3 {
        color: #8AE3D8;
        font-family: 'Luckiest Guy', cursive;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .newgameContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .backContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .againContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}