.gameTitle{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #8AE3D8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 10px;
    font-size: 40px;
}

@media only screen and (min-width: 768px) {
    .gameTitle{
        padding: 8%;
        font-size: 75px;
    }
 }
  