// Esto es el archivo principal de SCSS donde importamos todos los modulos principales que se aplican a todas las paginas, como, por ejemplo, el reseteo de SCSS.

@use 'scss-reset/reset';
@use './assets/sassModules/generalRules.scss';
@use './assets/sassModules/fonts.scss';
@use './../src/assets/sassModules/variables.scss';
