body {
    background-image: url("./../assets/images/backgroundPics/spiralBackground.png");
    width: 100%;
    height: 100%;
}
#title_page1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15%;
    width: 100%;
    padding: 5%;
    font-family: 'Luckiest Guy', cursive;
    color: rgba(138, 227, 216, 1);
    font-size: 3vmax;
}
#footer_page1{
    text-align: start;
    color: black;
    font-size: 1vmax;
    margin-left: 2%;
}