/*body {
    background-image: url=("./../assets/images/backgroundPics/spiralBackground.png");*/
}
#title_page1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15%;
    width: 100%;
    padding: 5%;
    font-family: 'Luckiest Guy', cursive;
    color: rgba(138, 227, 216, 1);
    font-size: 3vmax;
}
